@media (min-width: 39.125em) { 

body {
    background-color: #62DFFF;
}

h1 {
    font-family:Comic Sans, Comic Sans MS, cursive  ;
    align-content: center;
}
form {
    width: 30%;
    align-content: stretch;
    margin: 0px 10px 5px 10px;
    padding-left: 10%;
    display: block;
}

.formtext{
    background-color: lavender;
    border: 40;
    width: 400px;
    height: 30px;

}
form:-ms-input-placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
    font-size: 33px;
    font-style: italic;
}
button {
    background-color: whitesmoke;
    color: brown;
    border-radius: 11px;
    size: 90px;
}
button:hover {
    cursor: pointer;
    background-color:black;
    color: white;
    font-family:Comic Sans, Comic Sans MS, cursive ; 
}

}



body {
    
    margin: 15%
    }
    
    @media only screen and (min-width:600px){
        body {
            
            margin:25%
        }
    }
    @media only screen and (max-width:1200px){
        p {
            
            margin:20%
        }
    }
    .cat-list{
        font-size:50%
    }
    @media only screen and (max-width:1000px){
        p {
            
            margin: 20%
        }
    }
    @media only screen and (max-width:800px){
        p {
            
            margin: 10%
        }
    }
     @media only screen and (max-width:500px){ */
         p {
            
            margin:3%
        }
    } 