
.button {
    background-color: whitesmoke;
    color: brown;
    border-radius: 11px;
    size: 90px;
}
.button:hover {
    cursor: pointer;
    background-color:black;
    color: white;
    font-family:Comic Sans, Comic Sans MS, cursive ; 
}
